/* ThemeColor */
.kode-rating::before, .rating-box::before,.rating-box::before, .thcolor,.thcolorhover:hover,.kode-blog-list ul li:hover .kode-blog-info h2 a,.footer-nav ul li a:hover,
.top-nav ul li a:hover,.services-view-two ul li:hover h2,.upcoming_event_widget ul li:hover .event-widget-info a,
.kode-content .widget-recentpost ul li:hover h6 a,#koderespond form p i,.kode-postoption li a,.kode-team ul li:hover h4 a,.kode-actionbtn a:hover,
.kode-blog-list.kode-box-blog ul li:hover h5 a {
    color: #ff9933;
}

.navbar-nav .children > li:hover > a,.kd-accordion .accordion.accordion-open, .thbg-color,.thbg-colorhover:hover,.kode-topbar:before,.kode-causes-box ul li:hover .cause-inner-caption,
.gallery-link a:hover,.kode-team figure figcaption ul li:hover a,.team-network ul li:hover a,.kode-blog-list ul li figcaption time,
#footer-widget .widget-text:before,.main-navbaar .navbar-nav > li:before,
.services-view-two ul li:hover i,.services-view-two ul li:hover h2:before,.services-view-two ul li:hover .service-btn,
.pagination a:hover,.pagination span,.widget_archive ul li:hover,.kode-content .widget-recentpost ul li:hover time,
#koderespond form p input[type="submit"]:hover,.kode-postsection a:hover,.player-nav li.active a,
.kode-services.services-three ul li i,.widget_categories ul li:hover,.widget-recentpost ul li:hover time,.widget-text ul li:hover i,
.with-circle ul li i,.kode-causes-list .kode-main-action a,.kode-blog-list.kode-box-blog ul li:hover .box-icon {
    background-color: #ff9933;
}

.th-bordercolor,.th-bordercolorhover:hover,.detail-thumb,.kode-couses-numbers ul li span,.kode-shop-list ul li figure,
.kode-blog-list.kode-grid-blog ul li figure,.kode-blog-list.kode-mediium-blog figure {
    border-color: #ff9933;
}