/*============	Media 768Px Start ============ */ 
@media (min-width: 768px) and (max-width: 990px) {
	/* Header */
	.kode-headbar .col-md-3 { width: 20%; float: left; }
	.kode-headbar .col-md-9 { width: 80%; float: left; }
	.logo,.logo img { width: 100%; }
	.navbar-nav > li > a { padding: 33px 4px 31px; font-size: 12px; }
	.kode-donate-btn { padding: 6px 16px; font-size: 12px; margin: 27px 0 0 5px; }
	.kode-search { display: none; }

	/* MainBanner */
	.kode-caption { bottom: 60px; }
	.kode-caption h3 { font-size: 20px; }
	.kode-caption h1 { font-size: 44px; }
	.kode-caption span { font-size: 30px; margin-bottom: 25px; }

	/* MainGrid */
	.col-md-4 { float: left; width: 50%; }
	.col-md-3 { float: left;  width: 33.333%; }
	.gallery-info h4 { font-size: 18px; }

	/* Testimonial */
	.kode-testimonial figure { width: 100%; }
	.kode-testimonial figure ~ .testimonial-info,.kode-testimonial .testimonial-info { float: left; width: 100%; padding: 15px; }

	/* Content */
	.kode-subheader.subheader-height { height: auto; padding: 40px 0 0; }

	/* Footer */
	#footer-widget .col-md-3.widget.widget-text { width: 100%; }
	#footer-widget .widget-text:before { right: 0px; }
	.kode-newslatter { margin-bottom: 30px; }
	.bottom-footer thbg-color { text-align: center; }
	.bottom-footer thbg-color [class*="col-md-"] { display: inline-block; }
	

}

/*============ Media 420Px Start ============ */
@media (max-width: 767px) {
	/* Header */

	/* Navigation */
	.navbar-nav > li > a {padding: 12px 18px;}
	.navbar-toggle {background-color: #fff;left: -122px !important;}
	.navbar-collapse {z-index: 99;position: absolute;right: -165px;top: 100%;width: 375px;background-color: #fcfcfc;}
	.navbar-nav .children { background-color: #666; float: left; width: 100%; margin: 0px; position: static; visibility: visible; opacity: 1; -webkit-transform: none; -moz-transform: none; -ms-transform: none; -o-transform: none; transform: none; }
	.navbar-nav { margin: 0px; }
	.navbar-nav .children li a { width: 100%; }
	.nav > li { float: left; width: 100%; }
	.navbar-nav {
}
	.kode-header-absolute { position: static; } .kode-headbar { margin-top: 0px; } .kode-header-absolute ~ #mainbanner { padding: 0px; }
	.kode-topbar {height: 46px;border-bottom: 3px solid #37AB58;}
	.kode-barinfo,.kode-topbar:before,#footer-widget .widget-text:before { display: none; }
	.main-navbaar .col-md-3 { float: right; width: 50%; }
	.kode-header-two .navbar-toggle { margin-top: 8px; }
	.kode-header-two .navbar-collapse { background-color: #333; right: auto; left: 0px; }

	/* MainBanner */
	.kode-caption { bottom: 40px; }
	.kode-caption h3 { display: none; }
	.kode-caption h1 { font-size: 44px; }
	.kode-caption span { font-size: 30px; margin-bottom: 25px; }

	/* MainGrid */
	.kode-content .col-md-4 { float: left; width: 100%; }
	.gallery-info h4 { font-size: 18px; }
	
	.kode-newslatter form input[type="submit"]{position:relative;left:0px;right:0px;margin:0 auto;display:block;float:none;text-align:center;}
	.accordian-fram .ac-thumb{width:100%;}
	.accordian-fram .ac-thumb ~ .ac-info{float:left;padding:0px;}
	.kd-accordion .accordion span{padding:40px 0 0;}
	.widget-section{padding:0px;padding-bottom: 71px;}
	#footer-widget .col-md-3, #footer-widget .col-md-4{float:left;padding-top:30px;padding-bottom:0px;}
	#footer-widget .kode-newslatter{margin-top:30px;float:left;}
	.kode-team-network,
	.kode-email{float:none;display:block;text-align: center;}
	.kode-team-network li{margin-left:0px;margin-right:15px;float:none;display:inline-block;margin-top:15px;}
	.kode-headbar{border:none;}
	.kode-large-blog ul li .kode-blog-info, .kode-editor .left-spacer{float:left;padding:0px;}
	.kode-postoption li{padding:10px 0px;}
	.kode-blog-list.kode-grid-blog .kode-blog-info{margin-bottom:0px;height: 253px;border-radius: 0px;}
	.kode-blog-info{margin-bottom:30px;}
	.kode-editor p{clear:both;}
	.kode-eventcountdown .countdown{margin:0px;}
	#koderespond form p{padding:15px 0px;}
	#koderespond form p i{display:none;}
	.donation-nav ul li{display:inline-block;float:none;}
	.donation-nav ul li a{display:inline-block;float:none;}
	.kode-main-action span{width:100%;float:none;display:block;text-align:center;font-size: 17px;}
	.kode-actionbtn{float:none;}
	.kode-actionbtn a{float:none;display:block;text-align:center;margin:0px 0px 10px 0px;}
	/* Testimonial */
	.kode-testimonial figure { width: 100%; }
	.kode-testimonial figure ~ .testimonial-info,.kode-testimonial .testimonial-info { float: left; width: 100%; padding: 15px; }

	/*  Content */
	.countdown .item { width: 100%; }
	.countdown .item:before,.kode-header-two .kode-team-network { display: none; }
	.kode-parallex-info-two span { font-size: 60px; }
	.kode-parallex-info-two h2 { font-size: 40px; }
	.kode-subheader.subheader-height { height: auto; padding: 40px 0px; }
	.kode-subheader .col-md-6 { float: left; width: 50%; }
	.kode-attachment ul li,.kode-couses-options li { width: 50%; }
	#kodecomments .children > li { padding-left: 0px; }
	.kode-admin-post figure ~ .admin-info,#kodecomments ul li figure ~ .text { float: left; width: 100%; padding: 0px; }
	.kode-couses-options li { padding-bottom: 25px; }
	.event-cell.short-info,.event-cell { float: left; width: 100%; }
	.kode-innsec ul li { width: 50%; }

	/* Footer */
	#footer-widget .col-md-3.widget.widget-text { width: 100%; }
	.kode-newslatter { margin-bottom: 30px; }
	.bottom-footer thbg-color { text-align: center; }
	.bottom-footer thbg-color [class*="col-md-"] { display: inline-block; }
}

/*============ Media 300Px Star ============ */
@media (max-width: 480px) {
	/* Header */
	.kode-headbar { text-align: center; }
	.logo,.kode-rightsection {display: inline-block;float: none;}
	.navbar-collapse {}
	.main-navbaar .col-md-3 { width: 70%; }
	.kode-attachment ul li,#koderespond form p,.kode-couses-options li { width: 100%; }

	/* Main Banner */
	.kode-caption { display: none; }

}

/*============	Media 940Px Start ============ */
@media screen and (min-width: 991px) and (max-width: 1199px) {
	.navbar-nav > li > a { font-size: 13px; padding: 35px 6px 31px; }
	
}

@media (max-width:767px){ 
.kode-main-action a {display:none;}
	.atau-donate {display: none !important;}
	.btn-donasi-atas {display: none !important;}
	.mbl-tentang {
    padding: 17px !important;
}
.kode-circle-services {
    padding: 30px;
}
.kode-maintitle {
}
.bg-orange {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.kode-maintitle h3 {line-height: 39px;}
.kode-pagesection {padding-left: 15px !important;padding-right: 15px !important;}
.nav-tabs {width:100% !important;}
.nav-tabs > li > a {margin-bottom:5px;}
.donation-nav {border-left:1px solid #CCC;}
.lang {position:absolute;color:#000;top: 113px;z-index: 11;font-weight: 600;}
.eng-lang {
    right: 31px;
}
.in-lang {
    left: 104px;
    font-weight: 600;
}
.sos-mb {
    display: none;
}
.kode-barinfo i, .kode-email i {
    margin-right: 4px;
}
.ab-kodeinfo p {font-size: 17px;}
.video-parallex h2 {
    font-size: 24px;
}
.video-parallex span {
    font-size: 18px;
    margin-top: 11px;
    margin-bottom: 25px;
}
.col-mb-kaf {
    padding: 93px;
}
.kode-causes-box .cause-inner-caption {
}
.input-donasi {
    width: 100%;
}
.tmp-news-mb {
    width: 100% !important;
}
.blog-timeinfo time {
    letter-spacing: 0px;
}
.blog-timeinfo {
	
margin-top: 94px;
}
.kode-blog-info h3 a {
    font-size: 15px;
}
.kode-blog-list ul li figure {
    height: 93px;
    border-radius: 0px;
}
.widget-recentpost ul li {
    height: 126px;
    padding: 0px;
    font-size: 14px;
    width: 50%;
}
.mb-padding-no {
    padding-left: 0px;
    padding-right: 0px !important;
    border-right: 1px solid #DDD;
}
.donation-nav input[type=checkbox]:not(old) + label > span, .donation-nav input[type=radio   ]:not(old) + label > span {
    width: 146px;
    height: 39px;
    font-size: 12px;
}
.donation-list small {
    top: 11px;
    left: 26px;
    font-size: 15px;
}
.kode-maintitle p {width:100%}
table tr td {font-size:15px}
.div-mb-no {display:none !important;}
.div-mb-yes {display: block !important;}
.btn-donasi-mobile {display: block !important;position: fixed;z-index: 111;background: rgba(241,91,38,1) !important;color: #FFF;width: 100%;text-align: center;font-size: 19px;font-family: 'Exo', sans-serif;font-weight: 500;letter-spacing: 2px;padding: 12px;bottom: 0px;border-bottom: 2px solid #666;}
}	

