<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<title>Aksi Cepat Tanggap - Kapal Bantuan Kemanusiaan</title>
	<meta name="author" content="Aksi Cepat Tanggap">
	<meta content="Aksi Cepat Tanggap - Kapal Bantuan Kemanusiaan" name="title">
	<meta content=" Kapal Laut Kemanusiaan yang Memberikan Bantuan dan Donasi Kepada Korban Gizi Buruk dan Kelaparan Afrika Seperti di Somalia, Yaman, Sudan Selatan dan Nigeria." name="description">
	<meta content="Kapal Bantuan Kemanusiaan, Kelaparan Afrika, Kelaparan Somalia, Kelaparan Yaman, Kelaparan Sudan Selatan, Kelaparan Nigeria, Donasi, Rekening Donasi, Nomor Rekening, Bantuan, Gizi Buruk" title="keyword">
	<link href="css/custom.css" rel="stylesheet" type="text/css">
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="css/color.css" rel="stylesheet" type="text/css">
	<link href="css/responsive.css" rel="stylesheet" type="text/css">
	<link href="css/owl.carousel.css" rel="stylesheet" type="text/css">
	<link href="css/jquery.bxslider.css" rel="stylesheet" type="text/css">
	<link href="css/no-css.css" rel="stylesheet" type="text/css">
	<link href="css/swiper.css" rel="stylesheet" type="text/css">
	<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="images/favicon.png" rel="shortcut icon" type="icon">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91371836-13', 'auto');
  ga('send', 'pageview');

</script>

</head>
<body class="theme-style-1">
	<a href="#donasi-mb" id="btn-donasi-mb"><div class="btn-donasi-mb">Donasi</div></a>
	<div id="wrapper">
		<header class="header-style-2" id="header">
			<section class="topbar">
				<div class="container-fluid">
					<div class="left-box">
						<ul>
							<li class="lang-mb">
								<i aria-hidden="true" class="fa fa-globe"></i> <span>Language :</span>
								<div class="dropdown">
									<button aria-expanded="true" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" type="button">Indonesia <i aria-hidden="true" class="fa fa-angle-down"></i></button>
									<ul aria-labelledby="dropdownMenu1" class="dropdown-menu">
										<li>
											<a href="https://act.id/kapal-kemanusiaan/en">English</a>
										</li>
									</ul>
								</div>
							</li>

						</ul>
					</div>
					<div class="right-box">
						<div class="topbar-social">
							<ul>
								<li style="background:#3B5998;">
									<a href="https://www.facebook.com/AksiCepatTanggap/" target="_blank"><i aria-hidden="true" class="fa fa-facebook"></i></a>
								</li>
								<li style="background:#55ACEE;">
									<a href="https://www.twitter.com/actforhumanity/" target="_blank"><i aria-hidden="true" class="fa fa-twitter"></i></a>
								</li>
								<li style="background:#2E5E86;">
									<a href="https://www.instagram.com/actforhumanity/" target="_blank"><i aria-hidden="true" class="fa fa-instagram"></i></a>
								</li>
								<li style="background:#D6492F;">
									<a href="https://www.youtube.com/user/actnewstv" target="_blank"><i aria-hidden="true" class="fa fa-youtube"></i></a>
								</li>
								<li style="background:#D6492F;">
									<a href="https://plus.google.com/+ActIdAksi-Cepat-Tanggap" target="_blank"><i aria-hidden="true" class="fa fa-google-plus"></i></a>
								</li>
								
								
							</ul>
						</div>
					</div>
				</div>
			</section>
			<section class="navigation-row" id="main-menu">
				<div class="container-fluid" id="sidebar">
					
					<div class="shop-box">
						<a class="btn-donate btn-donasi page-scroll" id="btn-donasi-top" href="#donasi">Donasi</a>
					</div>
					<div id="nav-anchor"></div>
					<nav class="navbar navbar-inverse" role="navigation">
						<div class="navbar-header page-scroll">
							<button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
						</div>
						<div class="collapse navbar-collapse navbar-ex1-collapse" id="navbar">
							<ul class="nav navbar-nav" id="nav">
								<li>
									<a class="page-scroll" href="#latar-belakang">Latar Belakang <i aria-hidden="true"></i></a>
								</li>
								<li>
									<a class="page-scroll" href="#tentang-kapal">Tentang <i aria-hidden="true"></i></a>
								</li>

								<li>
									<a class="page-scroll" href="#donasi-terkumpul">Donasi Terkumpul <i aria-hidden="true"></i></a>
								</li>
								<li class="logo-teng"><img src="images/logo.png"></li>
								<li>
									<a class="page-scroll" href="#latar-belakang">Tempat Pengumpulan<i aria-hidden="true"></i></a>
								</li>
								<li>
									<a href="#supporters">Suporter <i aria-hidden="true"></i></a>
								</li>
								<li>
									<a href="#news-update">News Update <i aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</section>
			<div class="overlay overlay-contentscale">
				<button class="overlay-close" type="button">Close</button>
				<div class="cp-search-inner">
					<form method="get">
						<input placeholder="Enter your search" required="" type="text"> <button class="submit"><i class="fa fa-search"></i></button>
					</form>
				</div>
			</div>
		</header>
		<div id="main">
			<div class="carousel slide" data-ride="carousel" id="carousel-example-generic">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-example-generic"></li>
					<li data-slide-to="1" data-target="#carousel-example-generic"></li>
					<li data-slide-to="2" data-target="#carousel-example-generic"></li>
				</ol><!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active"><img alt="kapal kemanusiaan" src="images/banner1.jpg"></div>
					<div class="item"><img alt="kapal kemanusiaan" src="images/banner2.jpg"></div>
					<div class="item"><img alt="kapal kemanusiaan" src="images/banner3.jpg"></div>
				</div><!-- Controls -->
				<a class="left carousel-control" data-slide="prev" href="#carousel-example-generic" role="button"><span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span> <span class="sr-only">Previous</span></a> <a class="right carousel-control" data-slide="next" href="#carousel-example-generic" role="button"><span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span> <span class="sr-only">Next</span></a>
			</div>
			<section class="why-choose" id="latar-belakang">
				<div class="container">
					<div class="chose-heading">
						<h2>SELAMATKAN AFRIKA DARI KELAPARAN
</h2>
					</div>
					<p>Krisis pangan yang terus mendera wilayah Afrika, merupakan isu kemanusiaan besar yang juga harus dituntaskan dengan ikhtiar-ikhtiar besar.
Melanjutkan pengiriman Tim Kemanusiaan untuk menanggulangi kelaparan dunia di Somalia, Yaman, Sudan Selatan, dan Nigeria, Aksi Cepat Tanggap merilis program eksponensial berupa “Kapal Kemanusiaan”.

</p>
				</div>
			</section>
			<section class="exeutive-section">
				<div class="container-fluid">
					<div class="col-md-7">
						<div class="video-box">
							<button class="btn-play" data-target="#myModal" data-toggle="modal" type="button"><img alt="img" src="images/play-icon.png"></button>
							<div class="modal fade" id="myModal" role="dialog" tabindex="-1">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
										</div>
										<div class="modal-body">
											<iframe src="https://www.youtube.com/embed/N9RYoioejrY?rel=0&amp;showinfo=0" style="width:100%; height:557px; border:0;"></iframe>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="executive-message-box">
							<div class="message-box">
								<h2>Krisis Kelaparan Terburuk Abad Ini</h2>
								<p>Afrika, benua terbesar ketiga di dunia, hingga kini tak henti-hentinya dilanda kelaparan masif. Jutaan jiwa bertahan di antara hidup dan mati tanpa pangan yang mencukupi. Derita Afrika dan sekitarnya menjangkit Somalia, Yaman, Nigeria dan Sudan Selatan. Kelaparan yang disebabkan oleh kombinasi kekeringan dan konflik berkepanjangan, menjadi alasan runtuhnya sendi-sendi kehidupan penduduk negara yang mayoritas memeluk agama Islam ini.</p>
								<p>Permasalahan besar yang melanda empat negara tersebut tentu saja membutuhkan perhatian besar. Sebagai bangsa yang tak kalah besar, sudah sepatutnya bangsa Indonesia tergerak untuk meringankan derita mereka.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="urgent-donation" id="home">
				<div class="container">
					<div class="donation-head">
						<h2>SEBARAN BENCANA KELAPARAN DUNIA</h2>
						<p>Bencana kelaparan dan malnutrisi yang berujung kematian masal, saat ini terjadi di beberapa negara. Somalia, Yaman, Sudan Selatan, dan Nigeria menjadi saksi bisu getirnya rasa lapar yang kian hari kian melilit. Lebih dari 20 juta orang di keempat negara ini meregang nyawa menahan lapar dan dahaga.</p>
					</div>
				</div>
				<div class="donation-row">
					<div class="container">
						<div class="row">
							<div class="col-md-4">
								<div class="img-cause"><img src="images/somalia1.png"></div>
							</div>
							<div class="col-md-2">
								<div class="progress-box">
									<strong class="number">Somalia</strong> <span>6,2 Juta Jiwa Kelaparan</span>
									<hr>
									<span>22 juta anak malnutrisi</span>
									<hr>
									<span>14 juta penduduk rawan pangan</span>
									<hr>
									<span>1 anak meninggal 10 menit</span>
								</div>
							</div>
							<div class="col-md-2">
								<div class="progress-box">
									<strong class="number">Yaman</strong> <span>7 Juta Jiwa kelaparan</span>
									<hr>
									<span>1 juta anak malnutrisi</span>
									<hr>
									<span>1,5 juta mengungsi akibat konflik</span>
								</div>
							</div>
							<div class="col-md-2">
								<div class="progress-box">
									<strong class="number">Sudan Selatan</strong> <span>5,65 Juta Jiwa Kelaparan</span>
									<hr>
									<span>2.300 anak meninggal dunia setiap hari</span>
									<hr>
									<span>2 juta jiwa mengungsi mencari suaka</span>
									<hr>
									<span>244.000 anak kekurangan gizi akut</span>
								</div>
							</div>
							
							<div class="col-md-2">
								<div class="progress-box">
									<strong class="number">Nigeria</strong> <span>1,8 Juta Jiwa Kelaparan</span>
									<hr>
									<span>1 orang tewas setiap 26 menit</span>
									<hr>
									<span>70.000 anak kekurangan gizi</span>
									<hr>
									<span>55.000 berpotensi penyakit kolera</span>
								</div>
							</div>
							
							
						</div>
					</div>
				</div>
			</section>
			<section class="why-choose" id="tentang-kapal">
				<div class="container">
					<div class="heading-center">
						<h2>Kapal Kemanusiaan Aksi Cepat Tanggap</h2>
					</div>
				</div>
				<div class="container">
					<div class="welcome-tab">
						<div class="row">
							<div class="col-md-4 col-sm-5">
								<div class="frame"><img alt="img" src="images/welcome-tab-img-1.jpg"></div>
							</div>
							<div class="col-md-8 col-sm-7">
								<div class="tab-box">
									<div class="tab-content">
										<div class="tab-pane active" id="tab-1" role="tabpanel">
											<blockquote>
												Kapal Kemanusiaan adalah tawaran yang bisa bangsa ini lakukan untuk terlibat meredam krisis kelaparan akut di wilayah Tanduk Afrika. 
											</blockquote>
											<blockquote>
												Kapal Kemanusiaan menjadi solusi sebab sifat pelayanannya yang mobile, menghubungkan empati yang terpisah pulau dan pulau.
											</blockquote>
											<blockquote>
												Kapal Kemanusiaan pun menjadi bukti bahwa bangsa ini mampu proaktif, berbuat lebih jauh dan masif meredam krisis lapar.
											</blockquote>
											<blockquote>
												Tentang beras atau nasi, di Indonesia komoditas rakyat ini mudah sekali didapatkan. Sebagai target awal, ACT hendak menghimpun tak kurang dari 25.000 ton beras.
											</blockquote>
											<blockquote>
												Kapal Kemanusiaan menjangkau seluas mungkin pelabuhan untuk menjemput donasi beras dari publik. 
											</blockquote>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="exeutive-section" id="donasi-terkumpul">
				<div class="empty-section"></div>

				<div class="executive-message-box-2">
					<div class="message-box">
						<h2>STATISTIK PENGHIMPUNAN #BerasUntukKelaparanAfrika</h2>
						<p>Target : 25.000 Ton</p>
						<div class="progress skill-bar">
							<div aria-valuemax="{{ persen_pencapaian }}" aria-valuemin="0" aria-valuenow="{{ persen_pencapaian }}" class="progress-bar progress-bar-success" role="progressbar">
								<span class="skill">{{ persen_pencapaian }}% </span>
							</div>
						</div>
						<div class="count-box border-none border-btm-none"> <img src="images/donation-count-icon-4.png" alt="img"> <strong class="number counter">{{ ton_beras }}</strong><span> Ton Beras Terkumpul</span> </div>
						<div class="time-prog"><i class="fa fa-clock-o" aria-hidden="true"> {{ sisa_hari }} hari lagi</i></div>
					</div>
				</div>
			</section>
			<section class="choose-eco-section" id="donasi">
				<div class="holder">
					<div class="container">
						<div class="row">
							<div class="col-md-5 col-sm-5">
								<div class="frame">
									<a href="#"><img alt="img" src="images/choose-eco-img.jpg"></a>
								</div>
							</div>
							<div class="col-md-7 col-sm-7" id="donasi-mb">
								<div class="text-box">
									<h2>Kapal Kemanusiaan Memanggil Anda</h2>
									<p>Keberangkatan Kapal Kemanusiaan ke Afrika hanya dapat terwujud dengan adanya doa dan dukungan dari seluruh lapisan masyarakat Indonesia. Oleh karena itu, kontribusi Anda sangat dinantikan dalam misi kemanusiaan ini melalui beberapa bentuk bantuan berikut.</p>
									<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          #BerasUntukKelaparanAfrika
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Selamatkan nyawa 20 juta rakyat Afrika yang kini berada di titik nadir akibat ketiadaan bahan pangan dengan cara mendonasikan #BerasUntukKelaparanAfrika. Salurkan #BerasUntukKelaparanAfrika Anda melalui beberapa titik pengumpulan yang tersebar di seluruh Indonesia.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Donasi Tunai
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
      Kapal Kemanusiaan juga menerima donasi dalam bentuk uang tunai yang nantinya akan dikonversi menjadi bahan pangan. Mari salurkan kepedulian Anda melalui rekening berikut:<br>BNI Syariah 66 00000 120<br>Bank Mandiri 128 000 4793 136<br>Atas nama Aksi Cepat Tanggap


      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Mitra Lumbung Peduli
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
       Daftarkan diri segera, sebagai mitra untuk mengumpulkan #BerasUntukKelaparanAfrika bagi Kapal Kemanusiaan.
      </div>
    </div>
  </div>
</div>
									<p>
Berpacu dengan waktu, perlu aksi yang masif untuk mengentaskan masalah kelaparan dan malnutrisi Afrika. Mari bergabung, tunjukkan solidaritas Anda bersama Kapal Kemanusiaan!

</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="about-section" id="jadi-relawan">
				<div class="container">
					
</div>
					
					
				</div>
				
			</section>
			
			<section class="testimonials-style-2" id="supporters">
				<div class="container">
					<div class="heading-center">
						<h2>Suporter</h2>
					</div>
					<p><em></em></p>
				</div>
				<div class="holder">
					<div class="container">
						<div class="bx-wrapper" style="max-width: 100%;">
							<div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 424px;">
								<ul class="bxslider" style="width: 715%; position: relative; transition-duration: 0s; transform: translate3d(-1180px, 0px, 0px);">
									<li class="bx-clone" style="float: left; list-style: none; position: relative; width: 1140px;">
										<div class="row">
											<div class="col-md-4 col-sm-4">
												<div class="frame"><img alt="img" src="images/testimonials-img-5.jpg"></div>
											</div>
											<div class="col-md-8 col-sm-8">
												<div class="text-box">
													<h4><a href="#">Ustadz Bachtiar Nasir</a></h4><em>Di tengah ancaman kematian para pengungsi akibat kelaparan, ide Kapal Kemanusiaan untuk pangan yang digagas oleh Aksi Cepat Tanggap adalah sebuah ide brilian yang sangat saya dukung dan saya banggakan.</em>
												</div>
											</div>
										</div>
									</li>
									<li style="float: left; list-style: none; position: relative; width: 1140px;">
										<div class="row">
											<div class="col-md-4 col-sm-4">
												<div class="frame"><img alt="img" src="images/testimonials-img-1.jpg"></div>
											</div>
											<div class="col-md-8 col-sm-8">
												<div class="text-box">
													<h4><a href="#">Ratna Galih</a></h4><em>Saya Ratna Galih mengajak saudara semua untuk membantu meringankan saudara-saudar kita di Afrika melalui Program Kapal Kemanusiaan “Beras untuk Afrika”, karena sekecil apapun bantuan yang anda berikan sangat berarti untuk mereka</em>
													<div class="testimonials-style-2-social">
														<ul>
															<li>
																<a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a>
															</li>
															<li>
																<a href="#"><i aria-hidden="true" class="fa fa-google-plus"></i></a>
															</li>
															<li>
																<a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
															</li>
															<li>
																<a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</li>
									
								</ul>
							</div>
							<div class="bx-controls bx-has-controls-direction">
								<div class="bx-controls-direction">
									<a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a>
								</div>
							</div>
						</div>
						<div id="bx-pager">
							<a class="active" data-slide-index="0" href=""><img alt="img" src="images/testimonials-thum-img-1.jpg"></a> <a class="" data-slide-index="1" href=""><img alt="img" src="images/testimonials-thum-img-2.jpg"></a>
						</div>
					</div>
				</div>
			</section>

			<section class="supporters-section">
				<div class="container">
					<div class="heading-left">
						<h2>Supporters</h2>
					</div>
					<div class="holder">
						<ul>
							<li><img alt="img" src="images/support1.jpg"></li>
							<li><img alt="img" src="images/support2.jpg"></li>
							<li><img alt="img" src="images/support3.jpg"></li>
							<li><img alt="img" src="images/support4.jpg"></li>
							<li><img alt="img" src="images/support5.jpg"></li>
							<li><img alt="img" src="images/support6.jpg"></li>
							<li><img alt="img" src="images/support7.jpg"></li>
							<li><img alt="img" src="images/support8.jpg"></li>
							<li><img alt="img" src="images/support9.jpg"></li>
						</ul>
					</div>
				</div>
			</section>
			<section class="post-news-row home-3" id="news-update">
				<div class="container">
					<div class="col-md-6">
						<div class="left-box">
							<div class="heading-left">
								<h2>News & Update</h2>
							</div>
							<div class="news-box">
								<div class="post-box">
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<div class="frame"><img alt="img" src="images/news-img-1.jpg"></div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div class="text-box">
												<a target="_blank" href="https://act.id/news/detail/soal-kapal-kemanusiaan-ratna-galih:-saya-dukung-penuh"><h3>Soal Kapal Kemanusiaan, Ratna Galih: Saya Dukung Penuh</h3></a>
												<div class="tags-row">
													<i aria-hidden="true" class="fa fa-user"></i> Erwin Santoso</a> <a class="link" href="#"><i aria-hidden="true" class="fa fa-calendar"></i>30 Mar, 2017
												</div><a class="btn-readmore" href="https://act.id/news/detail/soal-kapal-kemanusiaan-ratna-galih:-saya-dukung-penuh" target="_blank">Baca Selengkapnya</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="news-box">
								<div class="post-box">
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<div class="frame"><img alt="img" src="images/news-img-2.jpg"></div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div class="text-box">
												<a href="https://act.id/news/detail/arungi-afrika-dan-timur-tengah-kapal-kemanusiaan-akan-jangkau-4-negara" target="_blank"><h3>Arungi Afrika dan Timur Tengah, Kapal Kemanusiaan akan Jangkau 4 Negara</h3></a>
												<div class="tags-row">
													<a class="link" href="#"><i aria-hidden="true" class="fa fa-user"></i> Dyah Sulistiowati</a> <a class="link" href="#"><i aria-hidden="true" class="fa fa-calendar"></i>30 Mar, 2017</a>
												</div><a class="btn-readmore" href="https://act.id/news/detail/arungi-afrika-dan-timur-tengah-kapal-kemanusiaan-akan-jangkau-4-negara" target="_blank">Baca Selengkapnya</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="news-box">
								<div class="post-box">
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<div class="frame"><img alt="img" src="images/news-img-3.jpg"></div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div class="text-box">
												<a href="https://act.id/news/detail/ikhtiar-melayarkan-kapal-kemanusiaan-sampai-afrika" target="_blank"><h3>Ikhtiar Melayarkan Kapal Kemanusiaan sampai Afrika</h3></a>
												<div class="tags-row">
													<a class="link" href="#"><i aria-hidden="true" class="fa fa-user"></i>Syamsur Rijal</a> <a class="link" href="#"><i aria-hidden="true" class="fa fa-calendar"></i>29 Mar, 2017</a>
												</div><a class="btn-readmore" href="https://act.id/news/detail/ikhtiar-melayarkan-kapal-kemanusiaan-sampai-afrika" target="_blank">Baca Selengkapnya</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="left-box">
							<div class="heading-left">
								<h2>&nbsp;</h2>
							</div>
							<div class="news-box">
								<div class="post-box">
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<div class="frame"><img alt="img" src="images/news-img-4.jpg"></div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div class="text-box">
												<a href="https://act.id/news/detail/sos-somalia--4-:-di-desa-tak-ada-lagi-yang-bisa-dikerjakan--kering" target="_blank"><h3>OS Somalia (4): Di Desa Tak Ada Lagi yang Bisa Dikerjakan, Kering</h3>
												<div class="tags-row">
													<a class="link" href="#"><i aria-hidden="true" class="fa fa-user"></i>Syamsur Rijal</a> <a class="link" href="#"><i aria-hidden="true" class="fa fa-calendar"></i>29 Sep, 2017</a>
												</div><a class="btn-readmore" href="https://act.id/news/detail/sos-somalia--4-:-di-desa-tak-ada-lagi-yang-bisa-dikerjakan--kering" target="_blank">Baca Selengkapnya</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="news-box">
								<div class="post-box">
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<div class="frame"><img alt="img" src="images/news-img-5.jpg"></div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div class="text-box">
												<a href="https://act.id/news/detail/karena-lapar--36-jam-terakhir-26-orang-tewas-di-somalia" target="_blank"><h3>Karena Lapar, 36 Jam Terakhir 26 Orang Tewas di Somalia</h3></a>
												<div class="tags-row">
													<a class="link" href="#"><i aria-hidden="true" class="fa fa-user"></i>Syamsur Rijal</a> <a class="link" href="#"><i aria-hidden="true" class="fa fa-calendar"></i>22 Mar, 2017</a>
												</div><a class="btn-readmore" href="https://act.id/news/detail/karena-lapar--36-jam-terakhir-26-orang-tewas-di-somalia" target="_blank">Baca Selengkapnya</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="news-box">
								<div class="post-box">
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<div class="frame"><img alt="img" src="images/news-img-6.jpg"></div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div class="text-box">
												<a href="https://act.id/news/detail/dihantam-konflik--diburu-lapar-di-sudan-selatan" target="_blank"><h3>Dihantam Konflik, Diburu Lapar di Sudan Selatan</h3></a>
												<div class="tags-row">
													<a class="link" href="#"><i aria-hidden="true" class="fa fa-user"></i>Syamsur Rizal</a> <a class="link" href="#"><i aria-hidden="true" class="fa fa-calendar"></i>21 Mar, 2017</a>
												</div><a class="btn-readmore" href="https://act.id/news/detail/dihantam-konflik--diburu-lapar-di-sudan-selatan" target="_blank">Baca Selengkapnya</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<footer id="footer">
			<section class="footer-section-2">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<address>
								<p><i aria-hidden="true" class="fa fa-home"></i>Menara 165, lantai 11,
Jl. TB. Simatupang Kav. 1, Cilandak Timur
Jakarta Selatan, 12560, Indonesia</p>
							</address>
						</div>
						<div class="col-md-3 col-sm-6">
							<address>
								<p><i aria-hidden="true" class="fa fa-phone-square"></i>Phone: +62 21 2940 6565</p>
								<p><a href="mailto:"><i aria-hidden="true" class="fa fa-envelope-o"></i>Email: <span class="__cf_email__" >info@act.id</span> 
								</a></p>
							</address>
						</div>
						<div class="col-md-3 col-sm-6">
							<address>
								
								<p><a href="https://act.id" target="_blank"><i aria-hidden="true" class="fa fa-globe"></i>www.act.id</a></p>
							</address>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="footer-social">
								<ul>
									<li>
										<a href="https://www.facebook.com/AksiCepatTanggap/" target="_blank"><i aria-hidden="true" class="fa fa-facebook"></i></a>
									</li>
									<li>
										<a href="https://www.instagram.com/actforhumanity/" target="_blank"><i aria-hidden="true" class="fa fa-instagram"></i></a>
									</li>
									<li>
										<a href="https://twitter.com/actforhumanity" target="_blank"><i aria-hidden="true" class="fa fa-twitter"></i></a>
									</li>
									<li>
										<a href="https://plus.google.com/+ActIdAksi-Cepat-Tanggap" target="_blank"><i aria-hidden="true" class="fa fa-youtube"></i></a>
									</li>
									<li>
										<a href="https://www.youtube.com/user/actnewstv" target="_blank"><i aria-hidden="true" class="fa fa-google-plus"></i></a>
									</li>
									
										
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="footer-section-3">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<strong class="copyrights">Copyright 2017 ACT Fundation</strong>
						</div>
					</div>
				</div>
			</section>
		</footer><a class="back-to-top" href="#." id="back-to-top"><i class="fa fa-angle-up"></i></a>
		<div id="myDiv"></div>
		<ul class="menu-nav-scl" id="menu-nav-scl">
			<a href="#latar-belakang" id="btn-latar-belakang"><li>Latar Belakang</li>
			<a href="#tentang-kapal" id="btn-tentang-kapal"><li>Tentang Kapal Kemanusiaan</li>
			<a href="#donasi-terkumpul" id="btn-donasi-terkumpul"><li>Donasi Terkumpul</li></a>
			<a href="#supporters" id="btn-supporters"><li>Suporter</li></a>
			<a href="#news-update" id="btn-news-update"> <li>News & Update</li></a>
		</ul>
	</div>
	<script src="js/jquery.js">
	</script> 
	<script src="js/scroll.js">
	</script> 
	<script src="js/bootstrap.min.js">
	</script> 
	<script src="js/owl.carousel.min.js">
	</script> 
	<script src="js/modernizr.custom.js">
	</script> 
	<script src="js/search-script.js">
	</script> 
	<script src="js/progress.js">
	</script> 
	<script src="js/waypoint.js">
	</script> 
	<script src="js/jquery.counterup.min.js">
	</script> 
	<script src="js/jquery.noconflict.js">
	</script> 
	<script src="js/theme-scripts.js">
	</script> 
	<script src="js/jquery.plugin.js">
	</script> 
	<script src="js/jquery.countdown.js">
	</script> 
	<script src="js/jquery.bxslider.min.js">
	</script> 
	<script src="js/custom.js">
	</script> 
	<script src="js/jquery-1.9.1.min.js">
	</script> 
	<script src='js/jquery.scrollto.js'>
	</script> 
	<script src="js/jquery.lazyload.js" type="text/javascript">
	</script> 
	<script type="text/javascript">
	                  
	         $(document).ready(function(){
	             
	             /** 
	              * This part does the "fixed navigation after scroll" functionality
	              * We use the jQuery function scroll() to recalculate our variables as the 
	              * page is scrolled/
	              */
	             $(window).scroll(function(){
	                 var window_top = $(window).scrollTop() + 12; // the "12" should equal the margin-top value for nav.stick
	                 var div_top = $('#nav-anchor').offset().top;
	                     if (window_top > div_top) {
	                         $('nav').addClass('stick');
	                     } else {
	                         $('nav').removeClass('stick');
	                     }
	             });
	             
	             
	             /**
	              * This part causes smooth scrolling using scrollto.js
	              * We target all a tags inside the nav, and apply the scrollto.js to it.
	              */
	             $("nav a").click(function(evn){
	                 evn.preventDefault();
	                 $('html,body').scrollTo(this.hash, this.hash); 
	             });
	             
	             
	             
	             /**
	              * This part handles the highlighting functionality.
	              * We use the scroll functionality again, some array creation and 
	              * manipulation, class adding and class removing, and conditional testing
	              */
	             var aChildren = $("nav li").children(); // find the a children of the list items
	             var aArray = []; // create the empty aArray
	             for (var i=0; i < aChildren.length; i++) {    
	                 var aChild = aChildren[i];
	                 var ahref = $(aChild).attr('href');
	                 aArray.push(ahref);
	             } // this for loop fills the aArray with attribute href values
	             
	             $(window).scroll(function(){
	                 var windowPos = $(window).scrollTop(); // get the offset of the window from the top of page
	                 var windowHeight = $(window).height(); // get the height of the window
	                 var docHeight = $(document).height();
	                 
	                 for (var i=0; i < aArray.length; i++) {
	                     var theID = aArray[i];
	                     var divPos = $(theID).offset().top; // get the offset of the div from the top of page
	                     var divHeight = $(theID).height(); // get the height of the div in question
	                     if (windowPos >= divPos && windowPos < (divPos + divHeight)) {
	                         $("a[href='" + theID + "']").addClass("nav-active");
	                     } else {
	                         $("a[href='" + theID + "']").removeClass("nav-active");
	                     }
	                 }
	                 
	                 if(windowPos + windowHeight == docHeight) {
	                     if (!$("nav li:last-child a").hasClass("nav-active")) {
	                         var navActiveCurrent = $(".nav-active").attr("href");
	                         $("a[href='" + navActiveCurrent + "']").removeClass("nav-active");
	                         $("nav li:last-child a").addClass("nav-active");
	                     }
	                 }
	             });
	         });

	</script> 
	<script type="text/javascript">
	              $(document).ready(function() {
	           $('.progress .progress-bar').css("width",
	                     function() {
	                         return $(this).attr("aria-valuenow") + "%";
	                     }
	             )
	         });

	</script> 
	<script type="text/javascript">
	                 $(window).scroll(function() {
	      if ($(this).scrollTop() > 1){  
	         $('navbar').addClass("sticky");
	       }
	       else{
	         $('navbar').removeClass("sticky");
	       }
	      });
	</script> 
	<script>
	           jQuery(window).scroll(function(){
	                        if(jQuery(window).scrollTop() > 200){
	                            jQuery("#back-to-top").fadeIn(200);
	                        } else{
	                            jQuery("#back-to-top").fadeOut(200);
	                        }
	                    });
	                    
	                    jQuery('#back-to-top, .back-to-top').click(function() {
	                          jQuery('html, body').animate({ scrollTop:0 }, '800');
	                          return false;
	                    });

	</script> 
	<script>
	           jQuery(window).scroll(function(){
	                        if(jQuery(window).scrollTop() > 200){
	                            jQuery("#menu-nav-scl").fadeIn(200);
	                        } else{
	                            jQuery("#menu-nav-scl").fadeOut(200);
	                        }
	                    });
	</script> 
	<script>

	   window.lazySizesConfig = {
	      addClasses: true
	   };
	</script>
	<script type="text/javascript">
		$("#btn-latar-belakang").click(function() {
    $('html, body').animate({
        scrollTop: $("#latar-belakang").offset().top
    }, 1200);
});
	</script>
	<script type="text/javascript">
		$("#btn-tentang-kapal").click(function() {
    $('html, body').animate({
        scrollTop: $("#tentang-kapal").offset().top
    }, 1200);
});
	</script>
	<script type="text/javascript">
		$("#btn-donasi-terkumpul").click(function() {
    $('html, body').animate({
        scrollTop: $("#donasi-terkumpul").offset().top
    }, 1200);
});
	</script>
	<script type="text/javascript">
		$("#btn-supporters").click(function() {
    $('html, body').animate({
        scrollTop: $("#supporters").offset().top
    }, 1200);
});
	</script>
	<script type="text/javascript">
		$("#btn-news-update").click(function() {
    $('html, body').animate({
        scrollTop: $("#news-update").offset().top
    }, 1200);
});
	</script>
	<script type="text/javascript">
		$("#btn-donasi-top").click(function() {
    $('html, body').animate({
        scrollTop: $("#donasi").offset().top
    }, 1200);
});
	</script>
	<script type="text/javascript">
		$("#btn-donasi-mb").click(function() {
    $('html, body').animate({
        scrollTop: $("#donasi-mb").offset().top
    }, 1200);
});
	</script>
</body>
</html>
